<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Favorited upon creation: "<%= @post.title %>"</h1>
    <small>
      By: <%= @post.user.name %>
    </small>
    <h3>You will receive updates on this post when commented on.</h3>
  </body>
</html>
